/*
* File contains style information for hand
*
* Author: Benjamin Stonestreet
* Date: 2025-11-11
*
*/
.hand {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
}

.hand>* {
  margin-left: -50px;
}

.hand>*:first-child {
  margin-left: 0;
}