/**
 * Styles for the ActiveUsers component.
 * Positions and styles the active users counter display.
 *
 * @author Benjamin Stonestreet
 * @date 2025-10-28
 */

.active-users-container {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(51, 51, 51, 0.8);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-family: sans-serif;
}
