.friend-box {
    /* background-color: #a9a9a9; */
    border: 2px solid var(--vice-blue-light);
    border-radius: 10px;
    /* backdrop-filter: blur(10px); */
    box-shadow: 0px 0px 3px 3px var(--vice-blue-light);
    background: linear-gradient(25deg, var(--vice-blue-light) 20%, rgba(0,0,0,0) 100%);
    transition: transform 0.2s ease;
  }
  
  .friend-box:hover {
    transform: scale(1.05);
  }